
.greetingText {
    font-size: 3rem;
}

.userPage {
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.userGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.userInfo {
    margin-top: 20px;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

.userInfo p {
    padding-right: 3rem;
    justify-content: left;
}

.logoutButton,
.pwdChangeButton {
    margin-top: 30px;
    padding: 1.3rem;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.logoutButton {
    background-color: #f44336;
    box-shadow: 0 0 15px rgba(244, 67, 54, 0.5);
}

.logoutButton:hover {
    background-color: #d32f2f;
    box-shadow: 0 0 25px rgba(244, 67, 54, 0.7);
}

.pwdChangeButton {
    background: linear-gradient(45deg, rgb(0, 150, 200), rgb(30, 0, 200));
    box-shadow: 0 0 15px rgba(30, 0, 200, 0.5);
}

.pwdChangeButton:hover {
    background: linear-gradient(45deg, rgb(30, 0, 200), rgb(0, 150, 200));
    box-shadow: 0 0 25px rgba(30, 0, 200, 0.7);
}

.buttons {
    display: flex;
    flex-direction: row;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.userCard,
.dates {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border-radius: 15px;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    text-align: center;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
    margin-top: 4rem;
}

.userCard:hover {
    box-shadow: 0 4px 25px rgba(255, 255, 255, 0.3);
}

.noDates{
    font-size: 2rem;
}

.bookedDateRow {
    border-radius: 15px;
    background: #444;
    font-size: 1.2rem;
    padding: 1.5rem;
    margin: 0.7rem;
}

.row{
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
    align-items: center;
}

.delete{
    margin-left: 2rem;
    font-size: 2rem;
    transition: all ease-in-out 0.2s;
}
.delete:hover{
    transform: scale(1.2);
    color: red;
}


@media (max-width: 1024px) {

    .userPage{
        margin: 5rem 0;
    }
    .userGrid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .userInfo {
        grid-template-columns: 1fr;
        font-size: 1.8rem;
    }

    .buttons {
  
        gap: 2rem;
    }

    .userCard,
    .dates {
        padding: 2rem;
        width: 80%;
        
    }

    .dates{
        margin-bottom: 4rem;
    }
    
    .greetingText {
        font-size: 2.5rem;
    }
}


@media (max-width: 600px) {

   
    .greetingText {
        font-size: 3rem;
    }

    .userGrid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .userInfo {
        font-size: 1.5rem;

    }

    .logoutButton,
    .pwdChangeButton {
        font-size: 1.2rem;
        padding: 1rem;
        width: 100%;
    }

    .buttons {
        flex-direction: column;
        padding: 2rem;
        gap: 1rem;
    }

    .userCard,
    .dates {
        padding: 1.5rem;
        width: 90%;
    }

    .bookedDateRow {
        font-size: 1rem;
        padding: 1rem;
    }

    .dates{
        margin-bottom: 5rem;
    }
}
